<h1>Edit Contact</h1>

<%= render 'form' %>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>
<% if current_user %>
<div>
	Currently signed in as <%= current_user.email %>
</div>
<% end %>